// Colors 
$alpha: #D5693E; // Primary color */
$alpha-100: #F28E66;
$alpha-200: #FFB395;
$alpha100: #B54A1F;
$alpha200: #8F2E08;
$beta: #2E6189; // Complementary color
$beta-100: #47779B;
$beta-200: #729BBB;
$beta100: #1A4D74;
$beta200: #0A395C;
.h1-font {
    font-family: Oswald;
    font-style: normal;
    font-weight: 800;
}

.h2-font {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
}

.h3-font {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
}

.h4-font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.h5-font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

.h6-font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

.body-font {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
}